<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Visualize Yosemite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div class="row">   
        <nav class="navbar-default">    
            <div class="container">
            <ul class="nav nav-justified pagination-lg">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden=true></span> Home</a></li>
                <li><a href="/trails"><span class="glyphicon glyphicon-map-marker"></span>Hiking Trails</a></li>
                <li><a href="/plots"><span class="glyphicon glyphicon-stats" ></span> Visitor Insights</a></li>
                <li><a href="/analysis"><span class="glyphicon glyphicon-usd" ></span> Analysis</a></li>
                <li><a href="/contact"><span class="glyphicon glyphicon-user" ></span> Team MAKVL</a></li>
            </ul>
            </div>
        </nav>
    </div>


    <div class="hero text-center">
      <h1>VISUALIZE YOSEMITE</h1>
      <p>Visitor Insights</p>
    </div>

    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-12">
                <h2 class="text-center">How has the number of visitors changed over time, and what is the impact on the local economy?</h2>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-12">
                <div id="visitors_plot"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-12">
                <div id="visitors_entrances_plot"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row margin-top-50">
            <div class="col-md-12">
                <div id="economic_benefits_bubble"></div>
            </div>
        </div>
    </div>


    <footer class="footer">
      <span class="bottom">Visualize Yosemite</span>
    </footer>
  </div>
  
  <!-- JS References -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
  <script src="static/js/visitors.js"></script>
  <script src="static/js/visitors_entrances.js"></script>
  <script src="static/js/economic_benefit_bubble.js"></script>

</body>

</html>
